[submodule "kexts/Lilu"]
	path = kexts/Lilu
	url = git@github.com:vit9696/Lilu.git
	branch = master
[submodule "kexts/AppleALC"]
	path = kexts/AppleALC
	url = git@github.com:vit9696/AppleALC.git
	branch = master
[submodule "kexts/Shiki"]
	path = kexts/Shiki
	url = git@github.com:vit9696/Shiki.git
	branch = master
[submodule "kexts/CoreDisplayFixup"]
	path = kexts/CoreDisplayFixup
	url = git@github.com:PMheart/CoreDisplayFixup.git
	branch = master
