[submodule "kexts/CoreDisplayFixup"]
	path = kexts/CoreDisplayFixup
	url = git@github.com:PMheart/CoreDisplayFixup.git
	branch = master
[submodule "scripts/RebuildCaches"]
	path = scripts/RebuildCaches
	url = git@github.com:Voight-Kampf/RebuildCaches.git
	branch = master
[submodule "kexts/intelGraphicsFixup"]
	path = kexts/intelGraphicsFixup
	url = git@github.com:Voight-Kampf/intelGraphicsFixup.git
	branch = master
[submodule "kexts/NvidiaGraphicsFixup"]
	path = kexts/NvidiaGraphicsFixup
	url = git@github.com:Voight-Kampf/NvidiaGraphicsFixup.git
	branch = master
[submodule "kexts/OS-X-Fake-PCI-ID"]
	path = kexts/OS-X-Fake-PCI-ID
	url = git@github.com:Voight-Kampf/OS-X-Fake-PCI-ID.git
	branch = master
